# ================================
# SERVER CONFIG
# ================================
PORT=3000
NODE_ENV=production

# ================================
# RAILWAY MySQL DATABASE
# (Railway dashboard se copy karein)
# ================================
DB_HOST=your-railway-mysql-host
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your-railway-db-password
DB_NAME=railway

# ================================
# SESSION
# ================================
SESSION_SECRET=your-super-long-random-secret-here-change-this

# ================================
# APP
# ================================
APP_NAME=FashionHub

# ================================
# RAZORPAY KEYS
# (razorpay.com > Settings > API Keys)
# ================================
RAZORPAY_KEY_ID=rzp_test_SxVjPjCLIjL62Q
RAZORPAY_KEY_SECRET=JNhfQS6T7XOSKJ3qvQrjooKv
